/* ====================
Typography
===================== */
.title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
/* ====================
Layout
===================== */
body {
    margin: 0;
}
header {
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chooseGamePlay {
    display:flex;
    flex-direction: column;
    gap: 1em;
}

.chooseGamePlay button {
    height: 4em;
    width:100%;
    font-size: 1rem;
}

.grid {
    display:grid;
    width: 450px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, 150px);

}
.grid div {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 150px;
    border:1px solid black;
}
div .border-top-none {
    border-top:none;
}
div .border-left-none {
    border-left: none;
}

div .border-bottom-none {
    border-bottom: none;
}

div .border-right-none {
    border-right: none;
}
.back {
    margin-top: 2em;
    text-align: center;
    
}
a button {
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

/* ====================
Modal
===================== */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 10% 0; /* Location of the box */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
       
.modal-content {
    font-size: 1.25em;
    display:flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    background-color: rgb(237, 237, 237);
    margin: 0 auto;
    padding: 3em 0;
    border: 1px solid #888;
    width: 20em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-content button{
    font-size: 1.25em;
    padding: .25em;
}

